body{
    background-color:lightgray;
    border-style: inset;
}

.container{ 
    background-color:lightgray;
    border: 10px;
    border-style: inset;
}
#webname { 
 background-color: mediumblue;
 color: aliceblue;
 padding-left: 10px;
 font-size: medium;
}

h2{
    border-bottom: 10px;
    border-style: groove;
}

.item2{
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 10px;
    border-style: groove;
}

.buttons {
    border-style:inset;
    border-width: 5px;
    background-color: lightgray;
    height: 60px;
    width: 70px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    
}

.button1 {
    border-style: inset;
    background-color: lightgray;
    height: 70px;
    width: 85px;
    font-family:'Times New Roman', Times, serif;
    border-width: 5px;
    
}

.button2 {
    border-style: inset;
    background-color: lightgray;
    height: 70px;
    width: 85px;
    font-family:'Times New Roman', Times, serif;
    border-width: 5px;
    position:absolute;
    top:134px;
    left:116px;
}

.button3 { 
    position:absolute;
    top:134px;
    left:202px;
}

.button4 {
    position:absolute;
    top:134px;
    left:304px;
}

.button5{
    position:absolute;
    top:134px;
    left:406px;
}

.button6{
    position:absolute;
    top:134px;
    left:492px;
}

.button7{
    position:absolute;
    top:134px;
    left:578px;
}

.button8{
    position:absolute;
    top:134px;
    left:664px;
}

.button9{
    position:absolute;
    top:134px;
    left:750px;
}

@font-face {
    font-family: 'pacifico' ;
    src: url(Pacifico-Regular.ttf);
}
.item3{
    background-color: black;
    height: 1090px;
    width:820px;
    background: url(maninthemirror.JPG);
    background-repeat: no-repeat;
    background-size:820px 1090px;

}

.item4{
    position: absolute;
    top:400px;
    left:220px;

}

#itsme{
    color:#0a165a;
    font-family: 'pacifico';
    font-size: 285%;
    text-shadow:rgb(163, 198, 229) 2px 6px ;
}

.item5{
    position:absolute;
    top:1200px;
    left:300px;

}

#mirror{
    color: white;
    background-color:white;
    border-radius: 50%;

}